* {
    margin: 0;
    padding: 0;
    box-shadow: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: skyblue;
    font-size: 2rem;
}
.header {
    display: flex;
    justify-content: center;
}

.header img {
    margin-top: 20px;
    width: 25%;
}
section {
    text-align: center;
}

h1, h2 {
    margin: 0 15%;
    text-align: center;
    color: yellow;
    text-decoration: black;
    -webkit-text-stroke: 0.01px black;
}

.game-container {
    background-color: rgb(0, 0, 96);
    color: yellow;
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}

button {
    height: 60px;
    width: 160px;
    font-size: 1rem;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: darkblue;
    color:white;
    box-shadow: none;
    border: none;
}

.cell {
    font-family: "Poppins", sans-serif;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px black;
    border: 1px solid lightslategray;
    cursor: pointer;
    border-radius: 5px;
    line-height: 100px;
    font-size: 60px;
}

.background {
    background-image:url('https://images.unsplash.com/photo-1505118380757-91f5f5632de0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=626&q=80');
    background-size: 100%;
    object-fit: fill;
    margin: 5% 15%;
    height: 90%;
    width: 70%;

}
